main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

section {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

input {
  position: relative;
}

input:hover {
  cursor: pointer;
}

#check1:hover::after, #check2:hover::after, #check3:hover::after 
 {
  background-color: rgb(153, 255, 148);
  color: black;
  border: 1px solid gray;
  border-radius: 5px;
}





#check1::after {
  content: "SI SE HTML";
  position: absolute;
  padding: 5px;
  width: 300px;
  height: 20px;
  background-color: white;
  color: black;
}

#check2::after {
    content: "SI SE CSS";
    position: absolute;
    padding: 5px;
    width: 300px;
    height: 20px;
    background-color: white;
    color: black;
  }

#check3::after {
    content: "YA HICE COSAS!";
    position: absolute;
    padding: 5px;
    width: 300px;
    height: 20px;
    background-color: white;
    color: black;
  }


.div {
  display: none;
  margin: 25px;
}

input:checked + .div {
  display: block;
}

#tres::after {
  content: "";
  background-image: url("../img/emoji.png");
  display: block;
  width: 100px;
  background-size: cover;
  height: 100px;
  margin-bottom: 20px;
}
